version: 1.0.{build}
clone_depth: 5

image:
- Previous Visual Studio 2017
- Visual Studio 2017
- Visual Studio 2015
- Ubuntu
- Previous Ubuntu

before_build:
- cd metaobject && git submodule update --init --recursive

- cmd: >-
   if not exist "build" mkdir build
   
   cd build
   
   cmake .. -DBOOST_ROOT=C:\Libraries\boost_1_67_0 -DBOOST_LIBRARYDIR=C:\Libraries\boost_1_67_0\stage\lib -DBUILD_EXAMPLES=OFF

- sh: >-
    mkdir -p build
    
    cd build
    
    cmake .. -DBOOST_ROOT=C:\Libraries\boost_1_67_0 -DBOOST_LIBRARYDIR=C:\Libraries\boost_1_67_0\stage\lib

build_script:
- cmd: >-
    msbuild metaobject.sln
    
- sh: make

