version: 1.0.{build}

clone_depth: 50

image:
- Previous Visual Studio 2017
- Visual Studio 2017
- Ubuntu
- Previous Ubuntu
- ubuntu1804

before_build:
- git submodule update --init --recursive

- cmd: >-
   if not exist "build" mkdir build
   
   cd build
   
   cmake .. -DBOOST_ROOT=C:\Libraries\boost_1_67_0 -DBOOST_LIBRARYDIR=C:\Libraries\boost_1_67_0\stage\lib -Dcereal_INCLUDE_DIR=%APPVEYOR_BUILD_FOLDER%/cereal/include -DBUILD_EXAMPLES=OFF -DCMAKE_VERBOSE_MAKEFILE=ON -Dgtest_force_shared_crt=ON

- sh: >-
    sudo -E ./scripts/appveyor/install-deps.sh

    cd .. && sudo -E ./metaobject/scripts/build_boost.sh c++1y && cd metaobject

    mkdir -p build
    
    cd build
    
    cmake .. -DBUILD_EXAMPLES=OFF -Dcereal_INCLUDE_DIR=$APPVEYOR_BUILD_FOLDER/cereal/include -DBOOST_ROOT=/home/appveyor/projects/boost_1_69_0 -DBOOST_LIBRARYDIR=/home/appveyor/projects/boost_1_69_0/stage/lib -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Release

build_script:
- cmd: >-
    msbuild metaobject.sln


- sh: make

test_script:
- sh: >-
    ./test_mo_core
    
    ./test_mo_object
    
    ./test_mo_params
