[submodule "dependencies/cereal"]
	path = dependencies/cereal
	url = https://github.com/dtmoodie/cereal
[submodule "dependencies/rcc"]
	path = dependencies/rcc
	url = ../rcc
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = ../spdlog
