[submodule "dependencies/cereal"]
	path = dependencies/cereal
	url = https://github.com/dtmoodie/cereal
[submodule "dependencies/rcc"]
	path = dependencies/rcc
	url = ../rcc
[submodule "dependencies/cppzmq"]
	path = dependencies/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "dependencies/cache-engine"]
	path = dependencies/cache-engine
	url = ../cache-engine
