dist: trusty
sudo: required

language: cpp
compiler: gcc

env:
  global:
    - NUM_THREADS=4
  matrix:
    - BUILD_NAME="default-cmake"
    
cache:
  apt: true

before_script:
  - sudo -E ./scripts/travis/install-deps.sh
  - sudo -E ./scripts/build_boost.sh

script:
  - mkdir -p build && cd build && cmake .. -DCUDA_CUDA_LIBRARY=/usr/local/nvidia/lib64/libcuda.so -DRCC_VERBOSE_CONFIG=ON -DBOOST_ROOT=../boost_1_69_0 -DBOOST_LIBRARYDIR=../boost_1_69_0/stage/lib
  - make all
